ANTHROPIC_API_KEY=
GOOGLE_CREDENTIALS_PATH=/Users/q/.openclaw/workspace/credentials/google-token.json
GOOGLE_OAUTH_PATH=/Users/q/.openclaw/workspace/credentials/google-oauth.json
SLACK_BOT_TOKEN=
SLACK_RAG_BUILDER_CHANNEL=C0ALMSS92FK
GOOGLE_SHEET_ID=1nbVDvlICkkgzb-X678q6F2Y87ZiOV0B_xAobXtLsJd0
PYTHON_PATH=python3
